[Unit]
Description=Shadowsocks Server
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/ssserver -p port -k passwd -m aes-256-cfb --user nobody
User=nobody

[Install]
WantedBy=multi-user.target
